{% extends "base.html" %}

{% block container %}
<h1>Home</h1>
<h2>Projects</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Application</th>
      <th scope="col">Description</th>
      <th scope="col">Tags</th>
      <th scope="col">Creator</th>
      <th scope="col">Creation</th>
      <th scope="col">Downloads</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td><a href="//{{ project.identifier }}.{{ domain }}/">{{ project.title }}</a></td>
      <td>{{ project.description }}</td>
      <td>{% for tag in project.tags_list %}
        <span class="badge badge-secondary">{{ tag.name }}</span>
      {% endfor %}</td>
      <td>{{ project.owner.username }}</td>
      <td>{{ project.creation|date }}</td>
      <td>
        <ul>
          <li><a href="//{{ project.identifier }}.{{ domain }}/{{ project.identifier }}s.geojson">GeoJSON</a></li>
          <li><a href="/csw.py?service=CSW&version=2.0.2&request=GetRecordById&id=http://{{ project.identifier }}.{{ domain }}/{{ project.identifier }}s.geojson&elementsetname=full">Metadata</a></li>
          <li><a href="/static/apps/{{ project.identifier }}.apk">Android</a></li>
          </li>
        </ul>
      </td>
      <td>{% if project.owner == user %}
        <a href="//{{ project.identifier }}.{{ domain }}/admin/login/?next=//{{ project.identifier }}.{{ domain }}/admin/">Manage</a>
      {% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h2>Services</h2>
<ul>
  <li>CSW endpoint: <a href="/csw">//{{ domain }}/csw</a>
    (<a href="/csw?request=GetCapabilities&service=CSW">GetCapabilities</a>)</li>
<ul>
{% endblock %}
