{% extends "base.html" %}
{% load bootstrap_tags %}

{% block container %}
<h1>Create a new application</h1>
<form method="post" enctype="multipart/form-data">
  <legend>Fill the form</legend>
  {% csrf_token %}
  {{ form|as_bootstrap }}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Create (and wait)</button>
  </div>
</form>
{% endblock %}
