{% extends "base.html" %}

{% block container %}
<h1>Login</h1>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <input name="username" type="text" placeholder="Username" class="form-control">
  </div>
  <div class="form-group">
    <input name="password" type="password" placeholder="Password" class="form-control">
  </div>
  <button class="btn btn-success btn-block btn-signin" type="submit">Login</button>
</form>
{% endblock %}
