{% extends "base.html" %}
{% load bootstrap_tags %}

{% block container %}
<h1>Register</h1>
<form method="post">
  <legend>Fill the form</legend>
  {% csrf_token %}
  {{ form|as_bootstrap }}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save changes</button>
  </div>
</form>
{% endblock %}
